<template name="register">
<!--
    <div class="back-link">
        <a href="{{pathFor route='dashboard'}}" class="btn btn-primary">Back to Dashboard</a>
    </div>
-->
<div id="fb-root"></div><!--
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=1187687264589769";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->


    <div class="register-container">
        <div class="row">
            <div class="col-md-14">
                <div class="text-center m-b-md">
                    <h3>Registration</h3>
                    <small>Register for . </small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form role="form" id="registerForm" method="post" action="#"> 
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label class="control-label" for="username">Username</label>
                                    <input type="" value="" id="username" class="form-control" name="username" required="" >
                                </div><div class="form-group col-lg-12">
                                    <label class="control-label" for="email">Email</label>
                                    <input type="" value="" id="email" class="form-control" name="email" required="" >
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="control-label" for="password" >Password</label>
                                    <input type="password" value="" id="password" class="form-control" name="password" required="password2" >
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="control-label" for="password2">Repeat Password</label>
                                    <input type="password" value="" id="password2" class="form-control" name="password2" required="" >
                                </div>
                                
                                
                                <div class="form-group col-lg-12 text-center">
                                    <div data-toggle="buttons" class="btn-group">
                                        <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>
                                       
                                    </div>
                                </div>
                                
                                <!--
                                <div class="form-group col-lg-12 text-center">
                                    <div data-toggle="buttons" class="btn-group">
                                        <label class="btn btn btn-puser active text-center">
                                            <input type="radio" id="user" name="profile" value="1" checked="checked"> Register as a patient
                                        </label>
                                        <label class="btn btn-carer">
                                            <input type="radio" id="carer" name="profile" value="2"> Register as a carer
                                        </label>
                                    </div>
                                </div>
                                -->
                                        
                                <div class="form-group col-lg-12 text-left">
                                    
                                        <input type="checkbox" class="i-checks" required="" name="termsofuse" id="termsofuse" > I have read and accepted the <a href="{{pathFor route='termsOfUse'}}" >terms of use</a>. 
                                        <label class="control-label" for="termsofuse"> </label>
                                </div>
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn btn-success" value="Register" />
                                <input type="submit" class="btn btn-default cancel" formnovalidate name="cancel" value="Cancel" />
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>