<template name="dashboard">

    {{#staggering}}

        <div class="content">

            {{#pageTitle title="Welcome to your Health monitor dashboard"}}

            <!---->     <strong> Admin Dashboard</strong> 
                style and feel.

            {{/pageTitle}}
            
            <div class="row">
                <div class="col-lg-3">

                    {{#panel footer="" panelClass="stats"}}

                        <div class="stats-title pull-left">
                            <h4>Profile</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="margin-right pe-7s-users fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-success">Firstname LastName</h1>
                        <span class="font-bold no-margins">
                            <i class="margin-right fa-2x"></i>Gender :
                        </span>
                            <br/>
                        <span class="font-bold no-margins">
                            <i class="margin-right pe-7s-date fa-2x"></i>Birthdate :
                        </span>
                            <br/>
                        <span class="font-bold no-margins">
                            <i class="margin-right pe-7s-phone fa-2x"></i>Landline Phone :
                        </span>
                            <br/>
                        <span class="font-bold no-margins">
                            <i class="margin-right fa-home fa-2x"></i>Mobile Phone :
                        </span>
                            <br/>
                        <span class="font-bold no-margins">
                            <i class="margin-right pe-7s-mail fa-2x"></i>Email :
                        </span>
                            <br/>
                        <span class="font-bold no-margins">
                            <i class="margin-right fa-home fa-2x"></i>House/flat number :
                        </span>
                            <br/>
                        <span class="font-bold no-margins">
                            <i class="margin-right fa-home fa-2x"></i>Street :
                        </span>
                            <br/>
                        <span class="font-bold no-margins">
                            <i class="margin-right fa-home fa-2x"></i>Post code :
                        </span>
                            <br/>
                        <span class="font-bold no-margins">
                            <i class="margin-right fa-home fa-2x"></i>City :
                        </span>
                            <br/>
                        <span class="font-bold no-margins">
                            <i class="margin-right fa-medkit fa-2x"></i>NHS number :
                        </span>
                        </div>

                    {{/panel}}

                </div>
                
                <div class="col-lg-4">
                    
                    {{#panel title="" panelClass="stats" footer=""}}

                        <div class="table-responsive">
                            
                        <div class="stats-title pull-left">
                            <h4>Medical provider</h4>
                        </div>
                        
                        <div class="pull-right fa-4x">
                            <i class="fa fa-wheelchair"></i>
                        </div>
                            <table cellpadding="1" cellspacing="1" class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Henry</td>
                                    <td>Purus Gravida Sagittis Limited</td>
                                    <td>055 1753 4032</td>
                                    <td>t@t.com</td>
                                </tr>
                                <tr>
                                    <td>Shelly</td>
                                    <td>Posuere Enim Inc.</td>
                                    <td>0313 143 2317</td>
                                    <td>t@t.com</td>
                                </tr>
                                <tr>
                                    <td>Edan</td>
                                    <td>Quisque Imperdiet Company</td>
                                    <td>076 1743 8649</td>
                                    <td>t@t.com</td>
                                </tr>
                                <tr>
                                    <td>Sophia</td>
                                    <td>Quam Incorporated</td>
                                    <td>0863 826 7513</td>
                                    <td>t@t.com</td>
                                </tr>
                                <tr>
                                    <td>Griffith</td>
                                    <td>Tempor Erat Corp.</td>
                                    <td>0845 46 45</td>
                                    <td>t@t.com</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    {{/panel}}
                </div>
                
                 <div class="col-lg-3">

                    {{#panel title="" footer="This is standard panel footer" panelClass="stats"}}

                        <div class="stats-title pull-left">
                            <h4>Medical devide plateform</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-science fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <span class="font-bold no-margins">
                                Carelight
                            </span>
                            <br/>
                            <small>
                                Describe Carelight
                            </small>
                        </div>
                        <div class="row m-t-md">
                            <div class="col-lg-6">
                                <h3 class="no-margins font-extra-bold text-success">300,102</h3>

                                <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                                <small>Heart rate + heart rate variability</small>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="no-margins font-extra-bold text-success">280,200</h3>

                                <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                                <small>Respiration</small>
                            </div>
                        </div>
                        <div class="row m-t-md">
                            <div class="col-lg-6">
                                <h3 class="no-margins font-extra-bold ">120,108</h3>

                                <div class="font-bold">38% <i class="fa fa-level-down"></i></div>
                                <small>Blood pressure</small>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="no-margins font-extra-bold ">450,600</h3>

                                <div class="font-bold">28% <i class="fa fa-level-down"></i></div>
                                <small>Oxygen saturation</small>
                            </div>

                        </div>
                        <div class="row m-t-md">
                            <div class="col-lg-6">
                                <h3 class="no-margins font-extra-bold ">36.4</h3>

                                <div class="font-bold">38% <i class="fa fa-level-down"></i></div>
                                <small>Temperature</small>
                            </div>

                        </div>

                    {{/panel}}

                </div>
             
                
            </div>
            
               
            <div class="row">
                <div class="col-md-3">
                  <!--  <div class="hpanel hbggreen">
                        <div class="panel-body">
                            <div class="text-center">
                                <a href="#" class="list-group-item"><h3>Send medical documents</h3></a>
                                <p class="text-big font-light">
                                </p>
                                <small>
                                </small>
                            </div>
                        </div>
                    </div>-->
                    
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <div class="text-center hbggreen">
                                    <a href="#" class="list-group-item hbggreen"><h3>Send medical documents</h3></a>
                                    <p class="text-big font-light">
                                    </p>
                                    <small>
                                    </small>
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Documents</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <span class="text-success font-bold">Lorem ipsum</span>
                                        </td>
                                        <td>Jul 14, 2013</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-success font-bold">Lorem ipsum</span>
                                        </td>
                                        <td>Jul 09, 2015</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-success font-bold">Lorem ipsum</span>
                                        </td>
                                        <td>Jul 24, 2014</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                
                </div>
                <div class="col-md-3">
                    <!--<div class="hpanel hbgblue">
                        <div class="panel-body">
                            <div class="text-center">
                                <a href="#" class="list-group-item"><h3>Ask vacancy</h3></a>
                                <p class="text-big font-light">
                                    
                                </p>
                                <small>
                                </small>
                            </div>
                        </div>
                    </div>-->
                    
                     <div class="hpanel">
                        <div class="panel-body">
                            <div class="text-center">
                                <a href="#" class="list-group-item"><h3>Ask vacancy</h3></a>
                                <p class="text-big font-light">
                                    
                                </p>
                                <small>
                                </small>
                            </div>
                            <div class="text-center">
                                <h2 class="m-b-xs"></h2>
                                <p class="font-bold text-success">Lorem ipsum</p>
                            
                                <button class="btn btn-info btn-sm">Ask vacancy</button>
                            </div>
                        </div>

                    </div>
                    
                </div>
                <div class="col-md-3">
                    <!--<div class="hpanel hbgyellow">
                        <div class="panel-body">
                            <div class="text-center">
                                <a href="#" class="list-group-item"><h3>Payment platform</h3></a>
                                <p class="text-big font-light">
                                </p>
                                <small>
                                </small>
                            </div>
                        </div>
                    </div>-->
                    
                     <div class="hpanel">
                        <div class="panel-body">
                            <div class="table-responsive">
                                 <div class="text-center">
                                <a href="#" class="list-group-item"><h3>Payment platform</h3></a>
                                <p class="text-big font-light">
                                </p>
                                <small>
                                </small>
                            </div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Last payments</th>
                                        <th>Medical care</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <span class="text-warning font-bold">Lorem ipsum</span>
                                        </td>
                                        <td>Maria Hinaje</td>
                                        <td>Jul 14, 2013</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-warning font-bold">Lorem ipsum</span>
                                        </td>
                                        <td>Maria Hinaje</td>
                                        <td>Jul 09, 2015</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-warning font-bold">Lorem ipsum</span>
                                        </td>
                                        <td>Maria Hinaje</td>
                                        <td>Jul 24, 2014</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <!--<div class="hpanel hbgred">
                        <div class="panel-body">
                            <div class="text-center">
                                <a href="#" class="list-group-item"><h3>My last vacancies</h3></a>
                                <p class="text-big font-light">
                                </p>
                                <small>
                                </small>
                            </div>
                        </div>
                    </div>-->
                    
                    <div class="hpanel" title="My last vacancies">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <div class="text-center ">
                                <a href="#" class="list-group-item"><h3>My last vacancies</h3></a>
                                <p class="text-big font-light">
                                </p>
                                <small>
                                </small>
                            </div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Last vacancies</th>
                                        <th>Medical care</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <span class="text-danger font-bold">Lorem ipsum</span>
                                        </td>
                                        <td>Maria Hinaje</td>
                                        <td>Jul 14, 2013</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-danger font-bold">Lorem ipsum</span>
                                        </td>
                                        <td>Maria Hinaje</td>
                                        <td>Jul 09, 2015</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-danger font-bold">Lorem ipsum</span>
                                        </td>
                                        <td>Maria Hinaje</td>
                                        <td>Jul 24, 2014</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            <div class="row">
                 <div class="col-md-3">
                    <div class="hpanel hbgred">
                        <div class="panel-body">
                            <div class="text-center">
                                <h3>Medical records</h3>
                                <button class="btn btn-info btn-sm">Prescriptions</button>
                                <button class="btn btn-info btn-sm">Bills</button>
                                <button class="btn btn-info btn-sm">People to contact</button>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            

        <!--    <div class="row">
                <div class="col-lg-12">

                    {{#panel title="Dashboard information and statistics" footer="Last update: 21.05.2015" footerRight="You have two new messages from Monica Bolt" }}

                        <div class="row">
                            <div class="col-md-3 text-center">
                                <div class="small">
                                    <i class="fa fa-bolt"></i> Page views
                                </div>
                                <div>
                                    <h1 class="font-extra-bold m-t-xl m-b-xs">
                                        226,802
                                    </h1>
                                    <small>Page views in last month</small>
                                </div>
                                <div class="small m-t-xl">
                                    <i class="fa fa-clock-o"></i> Data from January
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-center small">
                                    <i class="fa fa-laptop"></i> Active users in current month (December)
                                </div>
                                <div class="flot-chart" style="height: 160px">
                                    <div class="flot-chart-content" id="flot-line-chart"></div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="small">
                                    <i class="fa fa-clock-o"></i> Active duration
                                </div>
                                <div>
                                    <h1 class="font-extra-bold m-t-xl m-b-xs">
                                        10 Months
                                    </h1>
                                    <small>And four weeks</small>
                                </div>
                                <div class="small m-t-xl">
                                    <i class="fa fa-clock-o"></i> Last active in 12.10.2015
                                </div>
                            </div>
                        </div>

                    {{/panel}}

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">

                    {{#panel footer="This is standard panel footer"}}

                        <div class="text-center">
                            <i class="pe-7s-graph1 fa-4x"></i>

                            <h1 class="m-xs">$1 206,90</h1>

                            <h3 class="font-extra-bold no-margins text-success">
                                All Income
                            </h3>
                            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>
                        </div>

                    {{/panel}}

                </div>
                <div class="col-lg-3">

                    {{#panel footer="This is standard panel footer" panelClass="stats"}}

                        <div class="stats-title pull-left">
                            <h4>Users Activity</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-share fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <h3 class="m-b-xs">210</h3>
                    <span class="font-bold no-margins">
                        Social users
                    </span>

                            <div class="progress m-t-xs full progress-small">
                                <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55"
                                     role="progressbar" class=" progress-bar progress-bar-success">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stats-label">Pages / Visit</small>
                                    <h4>7.80</h4>
                                </div>

                                <div class="col-xs-6">
                                    <small class="stats-label">% New Visits</small>
                                    <h4>76.43%</h4>
                                </div>
                            </div>
                        </div>
                    {{/panel}}


                </div>
                <div class="col-lg-3">

                    {{#panel footer="This is standard panel footer" panelClass="stats"}}

                        <div class="stats-title pull-left">
                            <h4>Page Views</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-monitor fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-success">860k+</h1>
                        <span class="font-bold no-margins">
                            Social users
                        </span>
                            <br/>
                            <small>
                                Lorem Ipsum is simply dummy text of the printing and <strong>typesetting
                                industry</strong>. Lorem Ipsum has been.
                            </small>
                        </div>

                    {{/panel}}

                </div>
                <div class="col-lg-3">

                    {{#panel footer="This is standard panel footer" panelClass="stats"}}

                        <div class="stats-title pull-left">
                            <h4>Today income</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-cash fa-4x"></i>
                        </div>
                        <div class="clearfix"></div>
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-income-chart"></div>
                        </div>
                        <div class="m-t-xs">

                            <div class="row">
                                <div class="col-xs-5">
                                    <small class="stat-label">Today</small>
                                    <h4>$230,00 </h4>
                                </div>
                                <div class="col-xs-7">
                                    <small class="stat-label">Last week</small>
                                    <h4>$7 980,60 <i class="fa fa-level-up text-success"></i></h4>
                                </div>
                            </div>
                        </div>

                    {{/panel}}

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">

                    {{#panel title="Last active" footer="This is standard panel footer" panelClass="stats"}}

                        <div class="stats-title pull-left">
                            <h4>Activity</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-science fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <span class="font-bold no-margins">
                                Social users
                            </span>
                            <br/>
                            <small>
                                Lorem Ipsum is simply dummy text of the printing simply all dummy text. Lorem Ipsum is
                                simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
                            </small>
                        </div>
                        <div class="row m-t-md">
                            <div class="col-lg-6">
                                <h3 class="no-margins font-extra-bold text-success">300,102</h3>

                                <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="no-margins font-extra-bold text-success">280,200</h3>

                                <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                            </div>
                        </div>
                        <div class="row m-t-md">
                            <div class="col-lg-6">
                                <h3 class="no-margins font-extra-bold ">120,108</h3>

                                <div class="font-bold">38% <i class="fa fa-level-down"></i></div>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="no-margins font-extra-bold ">450,600</h3>

                                <div class="font-bold">28% <i class="fa fa-level-down"></i></div>
                            </div>

                        </div>

                    {{/panel}}

                </div>
                <div class="col-lg-6">

                    {{#panel title="Recently active projects"}}

                        <div class="table-responsive project-list">
                            <table class="table table-striped">
                                <thead>
                                <tr>

                                    <th colspan="2">Project</th>
                                    <th>Completed</th>
                                    <th>Task</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="checkbox" class="i-checks" checked></td>
                                    <td>Contract with Zender Company
                                        <br/>
                                        <small><i class="fa fa-clock-o"></i> Created 14.08.2015</small>
                                    </td>
                                    <td>
                                        <span class="pie">1/5</span>
                                    </td>
                                    <td><strong>20%</strong></td>
                                    <td>Jul 14, 2013</td>
                                    <td><a href=""><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="i-checks"></td>
                                    <td>There are many variations of passages
                                        <br/>
                                        <small><i class="fa fa-clock-o"></i> Created 21.07.2015</small>
                                    </td>
                                    <td>
                                        <span class="pie">1/4</span>
                                    </td>
                                    <td><strong>40%</strong></td>
                                    <td>Jul 16, 2013</td>
                                    <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="i-checks" checked></td>
                                    <td>Contrary to popular belief
                                        <br/>
                                        <small><i class="fa fa-clock-o"></i> Created 12.06.2015</small>
                                    </td>
                                    <td>
                                        <span class="pie">0.52/1.561</span>
                                    </td>
                                    <td><strong>75%</strong></td>
                                    <td>Jul 18, 2013</td>
                                    <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="i-checks"></td>
                                    <td>Gamma project
                                        <br/>
                                        <small><i class="fa fa-clock-o"></i> Created 06.03.2015</small>
                                    </td>
                                    <td>
                                        <span class="pie">226/360</span>
                                    </td>
                                    <td><strong>16%</strong></td>
                                    <td>Jul 22, 2013</td>
                                    <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    {{/panel}}

                </div>
                <div class="col-lg-3">

                    {{#panel title="Activity" bodyClass="list"}}

                        <div class="pull-right">
                            <a href="#" class="btn btn-xs btn-default">Today</a>
                            <a href="#" class="btn btn-xs btn-default">Month</a>
                        </div>
                        <div class="panel-title">Last Activity</div>
                        <small class="fo">This is simple example</small>
                        <div class="list-item-container">
                            <div class="list-item">
                                <h3 class="no-margins font-extra-bold text-success">2,773</h3>
                                <small>Tota Messages Sent</small>
                                <div class="pull-right font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                            </div>
                            <div class="list-item">
                                <h3 class="no-margins font-extra-bold">4,422</h3>
                                <small>Last activity</small>
                                <div class="pull-right font-bold">13% <i class="fa fa-level-down text-color"></i></div>
                            </div>
                            <div class="list-item">
                                <h3 class="no-margins font-extra-bold">9,180</h3>
                                <small>Monthly income</small>
                                <div class="pull-right font-bold">22% <i class="fa fa-bolt"></i></div>
                            </div>
                            <div class="list-item">
                                <h3 class="no-margins font-extra-bold text-success">1,450</h3>
                                <small>Tota Messages Sent</small>
                                <div class="pull-right font-bold">44% <i class="fa fa-level-up text-success"></i></div>
                            </div>
                        </div>

                    {{/panel}}

                </div>
            </div>-->
        </div>
    {{/staggering}}
</template>