<template name="personalInformation">
    <div id="tab-1" class="tab-pane active">
        
        <div class="panel-body">
            
            <div class="row">
            <div class="col-lg-12">
                
                    <form id="perso-provider" method="post" class="form-horizontal" action="#">
                        <input type="hidden" name="MAX_FILE_SIZE" value="100000">
                        <div class="form-group"><label class="col-sm-2 control-label"  for="name">Name</label>
                            <div class="col-sm-10"><input type="text" class="form-control" required="" aria-required="true"  name="name" id="name"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label" for="surname">Surname</label>
                        <div class="col-sm-10"><input type="text" class="form-control" required="" aria-required="true"  name="surname" id="surname"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label"  for="maidenname">Maiden Name</label>
                        <div class="col-sm-10"><input type="text" class="form-control"  name="maidenname" id="maidenname"></div>
                        </div>
                        
                        <div class="form-group"><label class="col-sm-2 control-label" for="jobtitle">Job title</label>
                        <div class="col-sm-10"><input type="text" class="form-control" required="" aria-required="true"  name="jobtitle" id="jobtitle"></div>
                        </div>
                        
                        <div class="form-group"><label class="col-sm-2 control-label" for="male">Gender</label>
                            <div class="col-sm-10">
                            <div class=" radio radio-info radio-inline">
                                <input type="radio" id="male" value="M" name="gender" required="" aria-required="true" checked=checked>
                                <label> Male </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="female" value="F" name="gender" required="" aria-required="true">
                                <label> Female </label>
                            </div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label" for="birthday">D.O.B.</label>
                            <div class="col-sm-10 birthdayPicker select2-container">
                                <div id="birthday" required="" aria-required="true"></div> 
                                <!--<input id="birthday" name="birthday" placeholder="10/17/1980" type="text" />-->
                            </div>
                        </div>
                        
                        <div class="form-group"><label class="col-sm-2 control-label">Upload identity card</label>

                            <div class="form-group"><input type="file" name="file" class="inputfile" id="identity">
                            <div class="col-sm-8"><input type="text" class="form-control" id="fileName" > </div>
                            <div class="col-sm-1">
                            <button class="btn btn-success" type="button" id="btn-identity"><i class="fa fa-upload"></i> <span class="bold">Upload</span></button>
                            </div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">Country</label>
                            <div class="col-sm-10 country">
                                <select class="" id="address-country" name="address[country]">
                                <option value="FR">France</option>
                                <option value="GB" selected>United Kingdom</option>
                                </select></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label" for="address1">Address 1</label>
                        <div class="col-sm-10"><input type="text" class="form-control" required="" aria-required="true" name="address1" id="address1" ></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label" for="address2">Address 2</label>
                        <div class="col-sm-10"><input type="text" class="form-control" required="" aria-required="true" name="address2" id="address2" ></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label" for="address-city">City</label>
                        <div class="col-sm-10"><input type="text" class="form-control" required="" aria-required="true" name="address-city" id="address-city" ></div>
                        </div>
                        
                        <div id="address-locality-fields">
                        <div class="form-group"><label class="col-sm-2 control-label" for="address-area">Province</label>
                        <div class="col-sm-10"><input type="text" class="form-control" required="" aria-required="true" name="address-area" id="address-area" ></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label" for="address-zip">Postal Code</label>
                        <div class="col-sm-10"><input type="text" class="form-control" required="" aria-required="true" name="address-zip" id="address-zip" ></div>
                        </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label" for="phone">Phone</label>
                        <div class="col-sm-10"><input type="text" class="form-control" required="" aria-required="true" name="phone" id="phone"></div>
                        </div>
                        
                        <div class="form-group"><label  class="col-sm-2 control-label" for="email">Email</label> 
                        <div class="col-sm-10"><input type="email" placeholder="Enter email" class="form-control" required="" aria-required="true" name="email" id="email"></div>
                        </div>
                        
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <!--<button class="btn btn-default" type="submit">Cancel</button>-->
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                
            </div>
        </div>
        </div>
        <input id="zero" type="text" value="0" hidden="hidden" />
        
    </div>
</template>