<template name="profile">

    {{> pageHeader title="Profile" desc="Show user data in clear profile design" category="App views" }}

    {{#staggering}}

    <div class="content">
        
        {{#if ispUser user}}
        
        {{> pUser}}
        
        {{else}}
        
        {{> medicalProvider}}
        
        {{/if}}


    </div>

    {{/staggering}}

</template>