<template name="accessDenied">
  <div class="access-denied page jumbotron">
      
      <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h2>Access Denied</h2>
                     <p>You can't get here! Please log in.</p>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <a class="btn btn-success btn-block" href="{{pathFor route='login'}}">Login</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>CareLK</strong> - CareLK WebApp <br/> 2016 Copyright CareLK
            </div>
        </div>
    </div>
    
    
  </div>
</template>